.billing {
    color: #fff;
      h3{
          font-size: 22px;
          color: #fff;
          span{
              font-weight: bold;
          }
      }
   
      p{
          font-size: 14px;
          margin-bottom:  2px;
          color: #fff;
          span{
              font-weight: bold;
          }
      }
}