<nav class="navbar fixed-top navbar-dark bg-secondary">
    <div class="container-fluid">
      <div class="box-logo">
        <a href="#">
          <img src="../assets/logo.png"/>
        </a>
      </div>
      <div class="dropdown">
        <a href="#" class="avatar-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="avatar" src="../assets/img/avatar.jpg" />
          Ronan Rocha
        </a>
      </div>
    </div>  
</nav>
