<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina inicial</title>
</head>

<body>
  <app-navbar></app-navbar>
  <div class="content">
    <!-- <div class="row">
        <div class="col">
          <app-filter></app-filter>
        </div>  
      </div> -->

    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">  
            <app-menu></app-menu>         
        </div>
      <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12">
        <div class="content-app">
          <div class="row">
            <div class="col-md-4 mb-2">
              <div class="row">
                <div class="col-md-12 col-sm-12 mb-2">
                  <app-billing-widget></app-billing-widget>
                </div>
                <div class="col-md-12 mb-2">
                  <app-sellers-widget></app-sellers-widget>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6 col-sm-12 mb-2">
                  <app-sale-parts-widget></app-sale-parts-widget>
                </div>
                <div class="col-md-6 col-sm-12 mb-2">
                  <app-ticket-widget></app-ticket-widget>
                </div>
                <div class="col-md-12 mb-2">
                  <app-payment-form-chart-widget></app-payment-form-chart-widget>
                </div>
                <div class="col-md-12 mb-2">
                  <app-group-product-chart-widget></app-group-product-chart-widget>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
