
* {
    font-family: 'Exo', sans-serif;
}


$primary: #26a0da;
$secondary: #333740;
$body-bg: #f1f1f1;
$success: #12c42f;
$btn-font-size: 12px ;
$btn-line-height: 10px;
$input-font-size: 10px;
$input-line-height: 1.5;

$theme-colors: (
  "primary": #26a0da,
  "danger": #ff4136,
  "secondary": #333740,
  "light": #f1f1f1,
);